<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMesService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.110:8086/MesService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMesService"
                contract="MesServiceTest.IMesService" name="BasicHttpBinding_IMesService" />
        </client>
    </system.serviceModel>
</configuration>