<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="materialLength" value="13"/>
    <add key="IsAutoAdd" value="1"/>
  </appSettings>
  <log4net>
    <appender name="errorAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="ERROR"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
      <file value="Logs\err.log"/>
      <encoding value="utf-8"/>
      <preserveLogFileNameExtension value="true"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="infoAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="INFO"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
      <file value="Logs\info.log"/>
      <encoding value="utf-8"/>
      <preserveLogFileNameExtension value="true"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="debugAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="DEBUG"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
      <file value="Logs\debug.log"/>
      <encoding value="utf-8"/>
      <preserveLogFileNameExtension value="true"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="perfAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="INFO"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
      <file value="Logs\perf.log"/>
      <encoding value="utf-8"/>
      <preserveLogFileNameExtension value="true"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="errorAppender"/>
      <appender-ref ref="infoAppender"/>
      <appender-ref ref="debugAppender"/>
      <appender-ref ref="perfAppender"/>
    </root>
    <logger name="Performance" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="perfAppender"/>
    </logger>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMesService" maxReceivedMessageSize="52428800" closeTimeout="00:03:00" openTimeout="00:03:00" sendTimeout="00:03:00" receiveTimeout="00:03:00"/>
                <binding name="BasicHttpBinding_IMesService1"/>
                <binding name="WeatherWebServiceSoap"/>
            </basicHttpBinding>
            <customBinding>
                <binding name="WeatherWebServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.175:8085/MesService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMesService" contract="MesService.IMesService" name="BasicHttpBinding_IMesService"/>
            <endpoint address="http://192.168.0.175:8086/MesService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMesService1" contract="MesServiceTest.IMesService" name="BasicHttpBinding_IMesService1"/>
            <endpoint address="http://www.webxml.com.cn/WebServices/WeatherWebService.asmx" binding="basicHttpBinding" bindingConfiguration="WeatherWebServiceSoap" contract="WeatherWebService.WeatherWebServiceSoap" name="WeatherWebServiceSoap"/>
            <endpoint address="http://www.webxml.com.cn/WebServices/WeatherWebService.asmx" binding="customBinding" bindingConfiguration="WeatherWebServiceSoap12" contract="WeatherWebService.WeatherWebServiceSoap" name="WeatherWebServiceSoap12"/>
        </client>
    </system.serviceModel>
</configuration>
