<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="sqlconstring" connectionString="server=localhost;user id=root; password=123456; database=unisky;CharSet = utf8"/>
    <add name="selectPrescNo" connectionString="select PrescriptionNo from prescriptionlist where RoomNo like '%军队医改%'"/>
    <add name="CONSTR" connectionString="Server=(local);Database=WT_SCL;uid=sa;pwd=az13132323251.."/>
  </connectionStrings>
  <appSettings>
    <add key="entityMapperFile" value="assembly://Mesnac/Mesnac.Entity.EntityMapper.xml"/>
    <add key="entityMapperFileName" value="EntityMapper.xml"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMesService"/>
                <binding name="BasicHttpBinding_IMesService1"/>
                <binding name="BasicHttpBinding_IMesService2"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.175:8086/MesService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMesService" contract="MesService.IMesService" name="BasicHttpBinding_IMesService"/>
            <endpoint address="http://192.168.0.175:8086/MesService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMesService1" contract="MesServiceTest.IMesService" name="BasicHttpBinding_IMesService1"/>
            <endpoint address="http://192.168.1.8:8086/MesService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMesService2" contract="MesServiceT.IMesService" name="BasicHttpBinding_IMesService2"/>
        </client>
    </system.serviceModel>
</configuration>
